$catalog-card-width: 345px;
$catalog-card-margin: 40px;
$catalog-width-desktop: 3 * ($catalog-card-width + $catalog-card-margin);
$catalog-width-tablet: 2 * ($catalog-card-width + $catalog-card-margin);

.catalog {
  max-width: $catalog-card-width + $catalog-card-margin;
  margin: 0 auto;
  padding: 50px 0 112px;

  &__content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &.only-banner {
      justify-content: center;
    }
  }

  &__card {
    width: $catalog-card-width;
    margin: $catalog-card-margin / 2;

    &--double {
      width: $catalog-card-width;
      min-height: 300px;
      max-height: 450px;
    }
  }

  &__pagination {
    margin-top: 40px;
  }

  &__mobile-hidden {
    display: none;
  }

  &__desktop-hidden {
    display: block;
  }
}


@media (min-width: $catalog-width-tablet + $catalog-card-margin) {
  .catalog {
    max-width: $catalog-width-tablet;

    &__card--double {
      width: 2 * $catalog-card-width + $catalog-card-margin;
    }

    &__mobile-hidden {
      display: block;
    }

    &__desktop-hidden {
      display: none;
    }
  }
}

@media (min-width: $catalog-width-desktop + $catalog-card-margin) {
  .catalog {
    max-width: $catalog-width-desktop;

    &__card--double {
      margin-left: auto;
    }

    &__content.only-banner &__card--double {
      margin-right: auto;
    }
  }
}
