.form {
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &__label {
    margin-bottom: 8px;
    line-height: 22px;
  }

  &__text-input {
    box-sizing: border-box;
    padding: 9px 13px;
    line-height: 22px;
    color: $theme-gray;
    border: 1px solid #a6b0b3;
    border-radius: 5px;

    &::placeholder {
      color: #aaa;
    }

    &:focus {
      border-color: $theme-blue;
      box-shadow: 0 0 0 5px rgba(43, 148, 225, 0.3);
    }
  }

  textarea {
    resize: vertical;
  }
}
