.main-header {
  padding: 56px 20px 0;
  height: 244px;
  text-align: center;
  color: #fff;
  background: #3e8856 url('../img/pattern-webinars.svg');

  &__title {
    margin: 0 0 14px;
    font-size: 48px;
    line-height: 56px;
  }

  &__text {
    max-width: 530px;
    margin: 0 auto 28px;
  }
}
